.app-header .header-layout .header-right .project-actions a img{
	opacity: 1 !important;
}

.default-option{
	margin-bottom:20px;
}
.databases-select{
	margin:20px 0 0 120px;
}

.admin-options{
	margin:20px 0 20px 0;
}

.admin-options p{
	color: #999;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.admin-options .el-input{
	margin-bottom: 12px;
}
.closed-logs{
	font-size: 13px;
  padding-left: 15px;
}
#errors-pane{
	color: #c0392b !important;
}
#logs-pane,#errors-pane{
	overflow-y:auto;
	height: 200px;
	float: left;
	width: 100%;
	padding: 0px 10px;
	color: #666;
	font-size: 12px;
	line-height: 18px;
}

.console-wrapper{
	background: #fff !important;
	z-index: 2;
}
.tabsConsole{
	width: 100%;
	background: #eee;
}
.tabsConsole:hover{
	color: #222;
}
.form-custom-style{
	width: 100% !important;
}
.app-window-wrapper .app-window{
	overflow: hidden;
}

.model-single .model-properties-wrapper{
    overflow-x: scroll;
}
.app-window >div{
	flex: 1;
   display: flex;
}
